body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    width: 90%;
    padding: 2em;
    background-color: rgba(27, 16, 16, 0.281);
}

.header {
    color: rgb(148, 0, 0);
    background-image: url(images/Mountain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-decoration: underline;
}

.my-photo {
    border-radius: 15em;
    width: 18em;
}

.city-content h1{
    text-decoration: underline;
}
.city-photo {
    width: 20em;
}

.my-city {
    flex: 1;
    line-height: 30px;
    /* margin: 3em; */
}

.table {
    width: 80%;
    border-collapse: collapse;
}

.language h1{
    text-decoration: underline;
}
.table {
    text-align: left;
    background-color: hotpink;
    border: 0.5em solid #571F4E;
    border-radius: 0.5em;
    padding: 2em;
}
.table th {
    font-size: 1.5em;
}

.my-subjects h1{
    text-align: left;
    text-decoration: underline;
}
.my-subjects h4{
    margin: 0.5em;
}

.about-subject {
    display: flex;
    flex: 2;
}

.photo-subject {
    margin-right: 5px;
    flex: 1;
    width: 15em;
}



@media (min-width:760px) {

    .header,
    .contactDetails,
    .city-container,
    .subjects-container,
    .subjects {
        display: flex;
        justify-content: space-between;
        margin: 1em;
    }

    .about-place {
        display: flex;
        flex: 3;
    }

    .photo-subject {
        margin-right: 5px;
        flex: 1;
    }

    .city-content {
        flex: 1;
    }
    .my-city{
        margin: 2em;
    }


}